.topbox {
    width: 100vw;
    height: 30vh;
    background-color: lightcyan;
    border-top: 2px solid lightyellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.ab {
    position: absolute;
    top:10px;
    font-size: 20px;
    font-weight: 900;
}
.middlebox {
    width: 100vw;
    height: 30vh;
    background-color: lightblue;
    border-top: 2px solid lightyellow;
    justify-content: space-around;
    align-items: center;
    position: relative;
    display: flex;
}

.bottombox {
    width: 100vw;
    height: 20vh;
    background-color: lightgoldenrodyellow;
    border-top: 2px solid lightyellow;
    justify-content: space-around;
    align-items: center;
    position: relative;
    display: flex;
}
.quotee {
    font-size: 20px;
    font-weight: 900;
}